body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    text-align: center;
    color: #333;
}

h1 {
    margin-top: 20px;
}

#map-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: inline-block; 
}


path {
    stroke: #555;
    stroke-width: 0.5px;
    transition: fill 0.3s;
}

path:hover {
    opacity: 0.8;
    stroke: #000;
    stroke-width: 1px;
    cursor: pointer;
}


.hidden {
    display: none;
}


div.tooltip {
    color: #222;
    background-color: #fff;
    padding: 10px;
    text-shadow: #f5f5f5 0 1px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    opacity: 0.95;
    position: absolute;
    pointer-events: none;
    font-size: 0.9em;
}



#slider-container {
    text-align: center;
    margin: 20px 0;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
}

#slider {
    width: 300px; 
    cursor: pointer;
}

#day {
    font-weight: bold;
    color: #a50f15; 
}